<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/suduku" version="1.0.0" viewmodes="maximized">
    <tizen:application id="UR3AlMFprl.suduku" package="UR3AlMFprl" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>suduku</name>
    <tizen:profile name="mobile"/>
</widget>
